@use "../../../styles/partials/global";
@use "../../../styles//partials/typography";
@use "../../../styles//partials/mixins" as *;
@use "../../../styles//partials/variables" as *;

.ps-game {
  width: 100vw;
  background-color: $color-secondary-black;

  &-container {
    @include desktop {
      @include flexbox(row, space-between, center);
      @include flexbox(row, flex-start, center);
      flex-wrap: wrap;
    }
  }

  &-header {
    color: $color-primary-white;
    margin-left: 2.8rem;

    &__logo {
      color: $color-primary-white;
      padding-top: 3.3rem;
      cursor: pointer;

      @include desktop {
        padding-top: 4.4rem;
        margin-left: 4.4rem;
      }
    }

    &__title {
      @include desktop {
        text-align: center;
        margin-bottom: $padding-big;
      }
    }
  }

  &-about {
    background-color: $color-secondary-dark-grey;
    padding: 3.6rem 0;
    margin-bottom: $spacing-small;

    @include desktop {
      width: 49vw;
      height: 40rem;
      margin-right: $spacing-small;
    }

    &-container {
      height: 15rem;
      margin-left: 2.8rem;
    }

    &__subtitle {
      color: $color-primary-white;
      line-height: 40px;
      font-weight: 500;

      @include desktop {
        margin-bottom: $padding-big;
      }
    }

    &__title {
      color: $color-primary-white;
      width: 28rem;

      @include desktop {
        width: 51rem;
        margin-bottom: $padding-big;
      }
    }
  }

  &-price {
    background-color: $color-secondary-dark-grey;
    padding: 3.6rem 0;
    margin-bottom: $spacing-small;

    @include desktop {
      width: 49vw;
      height: 40rem;
    }

    &-container {
      margin-left: 2.8rem;
      margin-bottom: 2.8rem;

      @include flexbox(column, flex-start, flex-start);

      @include desktop {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      color: $color-primary-white;
      line-height: 40px;
      font-weight: 500;

      @include desktop {
        margin-bottom: $padding-big;
      }
    }

    &__title {
      color: $color-primary-white;

      @include desktop {
        margin-bottom: $padding-small;
      }
    }

    &__radio {
      height: 20px;
      width: 20px;
      margin-right: $spacing-small;

      &:checked {
        accent-color: $color-primary-blue;
      }
    }

    &__button {
      width: 90vw;
      height: 6rem;
      background-color: $color-primary-green;
      margin-inline: auto;

      @include flexbox(row, center, center);

      @include desktop {
        width: 45vw;
      }

      &-icon {
        margin-right: 10px;
      }
      &-subtitle {
        color: $color-secondary-black;
        margin-bottom: 0;
        font-weight: 600;
      }
    }
  }

  &-hero {
    margin-bottom: $spacing-small;

    @include flexbox(row, center, center);

    @include desktop {
      width: 100vw;
    }

    &__image {
      width: 90vw;
      height: 45rem;
      border-radius: $image-radius;
      object-fit: cover;
      object-position: 60%;
      margin-bottom: $spacing-small;

      @include desktop {
        height: 65vh;
        width: 100vw;
        object-fit: cover;
        border-radius: 0;
      }
    }
  }

  &-capabilities {
    background-color: $color-secondary-dark-grey;
    margin-bottom: $spacing-small;
    padding: 2.8rem;

    @include flexbox(column, center, flex-start);

    @include desktop {
      width: 50vw;
      height: 50rem;
      margin-right: $spacing-small;
    }

    &-container {
      @include desktop {
        @include flexbox(row, flex-start, flex-start);
        flex-wrap: wrap;
      }
    }

    &__title {
      color: $color-primary-white;
      margin-bottom: $image-radius;
    }

    &__text {
      width: 80vw;
      background-color: $color-primary-blue;
      color: $color-primary-white;
      margin-bottom: $image-radius;
      padding: $padding-small $padding-big;

      @include desktop {
        width: 24rem;
        margin-right: 4rem;
      }

      &--small {
        width: 35vw;
        height: 10rem;
        margin-right: 10vw;

        @include desktop {
          width: 24rem;
          margin-right: 4rem;
        }
      }

      &-container {
        width: 90vw;

        @include flexbox(row, flex-start, center);

        @include desktop {
          width: 44vw;
        }
      }
    }
  }

  &-description {
    background-color: $color-secondary-dark-grey;
    margin-bottom: $spacing-small;
    padding: 2.8rem;

    @include desktop {
      width: 49vw;
      height: 50rem;
    }

    &__title {
      color: $color-primary-white;
      margin-bottom: $padding-big;
    }
    &__text {
      color: $color-primary-white;
    }
  }

  &-gallery {
    @include flexbox(column, center, center);

    &__image {
      width: 100vw;
      object-fit: cover;
      margin-bottom: $spacing-small;
    }

    @include desktop {
      width: 100vw;

      @include flexbox(row, flex-start, flex-start);
      flex-wrap: wrap;

      &__image {
        width: 49vw;
        height: 50rem;
        object-fit: cover;
        margin-bottom: $padding-small;

        &:nth-child(odd) {
          width: 50vw;
          margin-right: $spacing-small;
        }
      }
    }
  }
}
