// Color Pallete

// primary colors

$color-primary-green: #c8ff80; // Xbox-green: Primary text color
$color-primary-blue: #1766ff; // PS-Blue: Primart CTA. Active form field outline
$color-primary-white: #ffffff; // White: logo color, website name

// secondary colors

$color-secondary-black: #0d1117; // black: background landing
$color-secondary-dark-grey: #212932; // Dark-grey: background rest pages

// typography - mobile

$mob-font-heading: 5rem;
$mob-font-sub-heading: 3.4rem;
$mob-font-logo: 2.6rem;
$mob-font-sub-heading: 2.4rem;
$mob-font-text: 2.1rem;
$mob-font-body: 1.8rem;

// PADDING OR MARGIN

$spacing-small: 0.8rem;
$padding-small: 1.2rem;
$padding-big: 1.6rem;

// BUTTONS

$button-height: 4rem;
$button-width-tablet: 15rem;
$button-width-mobile: 3.2rem;
$button-radius: 4px;
$image-radius: 16px;

// DIVIDER

$divider-width: 1px;

// SCREEN SIZE - TABLET & DESKTOP

$breakpoint-desktop: 1279px;
