@use "../styles//partials/global";
@use "../styles//partials/typography";
@use "../styles//partials/mixins" as *;
@use "../styles//partials/variables" as *;

.checkout {
  height: 100vh;
  background-color: $color-secondary-black;
  padding: $padding-big 0;
  text-align: center;

  &-container {
    @include desktop {
      @include flexbox(row, space-between, center);
      padding: 5rem;
    }
  }

  &__logo {
    color: $color-primary-white;
    text-align: left;
    margin-left: 2.8rem;

    @include desktop {
      margin-left: 4.4rem;
      margin-top: 4.4rem;
    }
  }

  &__title {
    color: $color-primary-white;
    margin-bottom: $padding-big;

    @include desktop {
      margin-bottom: 0;
    }
  }

  &-cart {
    width: 100vw;
    height: 50vh;
    background-color: $color-secondary-dark-grey;
    color: $color-primary-white;
    margin-right: $spacing-small;
    margin-bottom: $spacing-small;
    padding-top: 2rem;

    @include flexbox(column, center, center);

    @include desktop {
      width: 30vw;
      padding-top: 0;
    }

    &__image {
      width: 90vw;
      height: 30rem;
      object-fit: cover;
      object-position: 60%;
      // border-radius: $image-radius;
      margin-bottom: $padding-big;

      @include desktop {
        width: 30vw;
      }
    }

    &__title {
      margin-bottom: $padding-small;
    }
  }

  &-accordian {
    width: 100vw;
    height: 50vh;

    &__collapsed {
      background-color: $color-secondary-dark-grey;
    }

    &-container {
      background-color: $color-primary-green;
    }

    @include desktop {
      width: 70vw;
    }

    &__label {
      font-size: 1.3rem;
      color: $color-secondary-black;
    }

    &__input {
      height: 4rem;
      width: 45vw;
      font-size: 1.6rem;
      background-color: $color-primary-green;
      border: $divider-width solid $color-secondary-black;
      border-radius: $button-radius;
      padding: $padding-small;
      margin-bottom: $spacing-small;

      &::placeholder {
        color: $color-secondary-black;
      }

      &:focus {
        outline: $color-secondary-black;
      }

      @include desktop {
        width: 20vw;
      }
    }

    &__checkbox {
      accent-color: $color-secondary-black;
      &-label {
        font-size: 1rem;
        margin-left: $spacing-small;
      }
    }

    &__checkbox-container {
      @include flexbox(row, flex-start, center);
    }
  }
}

.MuiAccordionDetails-root {
  @include flexbox(column, flex-start, flex-start);
}

.MuiButton-root {
  width: 20vw;
  height: 4rem !important;
  background-color: $color-secondary-black !important;
  color: $color-primary-green !important;

  @include desktop {
    width: 12vw;
  }
}

.MuiButton-text {
  font-size: 1.2rem !important;
}

#panel1-header,
#panel2-header,
#panel3-header {
  background-color: $color-secondary-dark-grey;
  color: $color-primary-white;
}

.MuiAccordionActions-root,
.MuiAccordionActions-spacing,
.css-adcfpp-MuiAccordionActions-root {
  background-color: $color-secondary-dark-grey;
}

.MuiAccordionSummary-content,
.MuiSvgIcon-root {
  color: $color-primary-green;
}
